<div class="container">
    <div class="centered">
        <div class="row">
            <input class="form-control" id="search" type="text"/>
            <button class="btn btn-light">Search for a Stock</button>
        </div>
    </div>
    <div class="container">
        The current stock graph goes here.
        <br>
        The current stock symbol goes here.
    </div>
    <form class = "centered">
        <div class="form-row align-items-center">
            <div class="col-auto">
                <input class="form-control" name="display" id="display0" type="radio">
                <label class="label" for="display0">Display</label>
            </div>
            <div class="col-auto">
                <input class="form-control" type="text" id="symbol0" placeholder="SYMBOL">
                <label class="label" for="symbol0">Symbol</label>
            </div>
            <div class="col-auto">
                <input class="form-control quantity" id="quantity0" type="text" placeholder="0">
                <label class="label" for="quantity0">Qty.</label>
            </div>
            <div class="col-auto">
                <input class="form-control" name="buysell" id="buy0" type="radio">
                <label class="label" for="buy0">Buy</label>
            </div>
            <div class="col-auto">
                <input class="form-control" name="buysell" id="sell0" type="radio">
                <label class="label" for="sell0">Sell</label>
            </div>
            <div class="col-auto">
                <input class="form-control" id="update" value="Update" type="submit">
            </div>
        </div>
    </form>
</div>