<div class="container">
    <div class="container">
        How many rows? <input id="rowamt" type="text"/>
        <button class="btn btn-light">Update</button>
    </div>
    <div class="container">
        The current stock graph goes here.
        <br>
        The current stock symbol goes here.
    </div>
    <form>
        <div class="form-row align-items-center">
            <div class="col-auto">
                <input class="form-control" name="display" id="display0" type="radio"><label for="display0">Display</label>
            </div>
            <div class="col-auto">
                <input class="form-control" type="text" id="symbol0" placeholder="SYMBOL">
            </div>
            <div class="col-auto">
                <input class="form-control quantity" id="quantity0" type="text" placeholder="0">
            </div>
            <div class="col-auto">
                <input class="form-control" name="buysell" id="buy0" type="radio"> <label for="buy0">Buy</label>
            </div>
            <div class="col-auto">
                <input class="form-control" name="buysell" id="sell0" type="radio"> <label for="sell0">Sell</label>
            </div>
        </div>
    </form>
</div>
