<div class="container mx-auto">
  <button type="button" class="btn btn-success btn-block" (click)="refresh()">Refresh</button>
  <div *ngIf="load == true" class="row no-gutters justify-content-center">

    <div *ngFor="let position of positions" id="wrapper">
      <div class="card border-dark" style="width: 20rem;border-width:2px">
        <p>graph here</p>
        <div class="card-body col-sm" style="background: rgb(19, 23, 34);">
          <h6 class="card-title mb-2 text-muted" >{{position.exchange}}:{{position.symbol}}</h6>
          <p class="card-text" style="color: grey;">Avg Entry: {{position.avg_entry_price}}</p>
          <p class="card-text" style="color: grey;">Shares: {{position.qty}}</p>
          <p class="card-text" style="color: grey;">Market Value: {{position.market_value}}</p>
          <p class="card-text" [ngClass]="{'red':position.profits < 0, 'green':position.profits>0}">Profits: {{position.profits}}</p>
        </div>
      </div>
    </div>

  </div>
</div>
