<main role="main">
  <div class="jumbotron text-white">
    <div class="container">
      <h1 class="display-3">Alpaca Analytics Dashboard</h1>
      <p></p>
    </div>
  </div>

  <div class="container text-white">
    <div class="row">
      <div class="col-md-4">
        <h2>Stocks</h2>
        <p>We offer a variety of metric dashboards that allow you to gain a deeper insight into the stocks your algorithim is trading.</p>
        <p><a class="btn btn-secondary" href="#" role="button" routerLink='/portfolio/details'>View Portfolio &raquo;</a></p>
      </div>

      <app-sign-in></app-sign-in>
    </div>
    <hr>
  </div>
</main>

<footer class="container">
  <p>&copy; Alpaca Wrangler 2019</p>
</footer>
